<div class="sidenav">

  <div class="row">
    <div class="col-lg-3">
      <img class="image" src="../../../assets/img/54648039c5fa9636f9b782c7e4ab1e9c.jpg">
    </div>
    <div class="col-lg-6 Username">
      Brijesh Kumar Verma
    </div>
    <div class="col-lg-3 settings">
      <!-- <mat-icon>settings</mat-icon> -->
    </div>

  </div>
        <!-- <mat-list role="list">
            <mat-list-item class="icons" role="listitem">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>&nbsp; &nbsp;&nbsp;<a routerLink="./admin" routerLinkActive="active">Home</a></mat-list-item>
          <mat-divider></mat-divider> -->
            
          <!--  -->
    
            <!-- <mat-list-item class="icons" role="listitem"><mat-icon>info</mat-icon>&nbsp;&nbsp;&nbsp;Information</mat-list-item>
          <mat-divider></mat-divider>
    
            <mat-list-item class="icons" role="listitem"><mat-icon>perm_phone_msg</mat-icon>&nbsp;&nbsp;&nbsp;Contact</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="icons" role="listitem"><mat-icon>perm_phone_msg</mat-icon>&nbsp;&nbsp;&nbsp;<a routerLink="./add-product" routerLinkActive="active">Add Product</a></mat-list-item>
          <mat-divider></mat-divider>
    
            <mat-icon class="icons"> contact_mail</mat-icon>
            <mat-icon class="icons"> contact_phone</mat-icon>
            <mat-icon class="icons">library_add</mat-icon>
            <mat-icon class="icons">library_books</mat-icon>
            <mat-icon class="icons">add_circle_outline</mat-icon>
            <mat-icon class="icons">clear</mat-icon>
            <mat-icon class="icons">create</mat-icon>
            <mat-icon class="icons">link</mat-icon>
            <mat-icon class="icons">format_color_fill</mat-icon>
             -->
            
          <!-- </mat-list> -->
          
          <div class="row">
          <mat-list role="list">
          <div class="col-lg-12">
            <mat-list-item class="icons" role="listitem">
              <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></mat-list-item>
              </div>
              <mat-divider></mat-divider> 
          <div class="col-lg-12">
              <mat-list-item class="icons" role="listitem">
                <a routerLink="/parties" routerLinkActive="active">Parties</a></mat-list-item>
               </div>
                <mat-divider></mat-divider> 
          <div class="col-lg-12">
                <mat-list-item class="icons" role="listitem">
                  <a routerLink="/items"  routerLinkActive="active">Items</a></mat-list-item>
                 </div>
                  <mat-divider></mat-divider> 
                  
            </mat-list>
          </div>  
    </div>
